.li--entry {
  display: grid;
  grid-template-columns: 20% 40% 20% 10% 10%;
  grid-template-rows: 1;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  padding-bottom: 20px;
  font-size: 20px;
  box-shadow: 1px 1px 5px lightblue;
  grid-area: entry;
  margin-bottom: 20px;
  cursor: pointer;
  /* margin-left: 15px */
}

.span--entry {
  grid-column: 2 / 4;
  align-self: center;

}

.img--flag {
  max-width: 50px;
  max-height: 50px;
  align-items: center;
  margin-left: 20px;
  margin-right: 15px;
}

.span--rank {
  /* align-items: baseline; */
  justify-self: end;
  grid-column: 5 / 6;
  /* margin-right: 30px; */
  font-size: 30px;
  align-self: center;
}

.img--medal {
  grid-column: 4 / 5;
  height: 60px;
  justify-self: end;

}
