.main--navbar {
  height: 100px;
  width: 100vw;
  border-bottom: 1px solid black;
  box-shadow: 2px 2px 10px lightblue;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 1fr;
  background: white;
  /* linear-gradient(to bottom right, #FFFFFF, #a0a5af); */

}

.Link--logo {
  /* height: 80px; */
  font-size: 40px;
  width: auto;
  grid-column: 1 / 3;
  align-self: center;
  text-decoration: none;
  margin-left: 30px;
  color: black;
  font-family: 'Caveat', cursive
}

/* .main--navbar Link {
  font-size: 20px;
  text-decoration: none;
  color: black;
} */

.Link--scoresheets {
  grid-column: 5 / 6;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  color: black;
}

.Link--contests {
  text-decoration: none;
  grid-column: 6 / 7;
  align-self: center;
  justify-self: center;
  color: black;
}

.Link--home {
  text-decoration: none;
  grid-column: 7 / 8;
  align-self: center;
  justify-self: center;
  color: black;

}

.Link--logout {
  font-size: 18px;
  line-height: 3px;
  width: 150px;
  text-decoration: none;
  grid-column: 8 / 9;
  align-self: center;
  justify-self: center;
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  background-color:black;
  padding: 7px 15px;
}

.Link--logout:hover {
  color: black;
  background-color: white;

}
