body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: linear-gradient(to bottom right, #5FBEDE, #002659); */
  /*sample colors*/
    background: linear-gradient(to bottom right, #ffffe8, #b5c9f2);
  min-height: 100vh;
  height: 100%;
  font-family: 'Caveat', cursive;
}

.main {
  height: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
}

h1, p, span, text, content, div, section {
  margin: 0;
  padding: 0;
}

button {
  color: white;
  border-radius: 4px;
  border: 2px solid #002659;
  background: #5FBEDE;
  height: 30px;
  width: auto;
  cursor: pointer;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-content: center;
}


.div--spinnerModal {
  background: linear-gradient(to bottom right, #ffffe8, #b5c9f2);
  position: absolute;
  z-index: 10;
  top: 102px;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.div--spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 46%;
  width: 100px;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner .6s linear infinite;
}
