span[class^="span--scoresheet-nav"] {
  border: 1px solid lightgrey;
  border-bottom: none;
  padding: 10px 30px;
}

span[class^="span--scoresheet-nav"]:first-child {
  border-radius: 4px 4px 0px 0px;
}

span[class^="span--scoresheet-nav"]:last-child {
  border-bottom: 1px solid lightgrey;
  border-radius: 0px 0px 4px 4px;
}

table[class^="table--scoresheet-headers"] {
  margin: 10px;
  font-size: 24px;
  padding: 4px;
  border-bottom: 1px solid lightgrey;
}

img {
  font-size: 8px;
}

table[class^="table--scoresheet-headers"] div {
  width: 225px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.label--bonus_points {
  font-size: 14px;
  margin-left: 20px;
}

.label--bonus_points input {
  margin-left: 10px;
}

#button--delete-scoresheet {
  margin: 10px 20px;
}
