.section--scoresheets_container {
  display: flex;
  min-height: 600px;
  margin: 10px 0px;
  padding: 10px;
  margin-bottom: 40px;
}

.nav--scoresheets_nav {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 20px;
}

.section--scoresheet_show {
  border: 1px solid lightgrey;
  margin: 0;
  min-height: 500px;
  border-radius: 4px;
}

.span--selected-scoresheet-nav {
  font-weight: bold;
}

span[class^="span--scoresheet-nav"] {
  cursor: pointer;
  max-width: 200px;
}

span[class^="span--scoresheet-nav"]:hover {
  background-color: #b5c9f2;
  text-decoration: underline;
}
