.main--footer {
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: row;
  border-top: 1px solid black;
  box-shadow: -2px -2px 10px lightblue;
  padding-top: 1em;
  bottom: 0;
  left: 0;
  right: 0;
  /* position: absolute; */
  background: linear-gradient(to bottom right, #ffffe8, #b5c9f2);
}

.div--credits {
  font-family: 'Averia Sans Libre', cursive;
  grid-column: 1 / 2;
  justify-content: flex-start;
  margin: 1em;
  align-self: center;
}

.div--copy {
  grid-column: 2 / 3;
  justify-self: end;
  margin: 1em;
  font-size: 20px;
}
