a {
  text-decoration: none;
  color: inherit;
}

.main--contestShowPage {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 100vw;
  overflow-x: hidden;
}

.left-side-show-full {
  width: 90%;
  margin: 0 auto;
}

.left-side-show-half {
  width: 45%;
  margin-right: 24px;
}

.div--contest-title {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: auto;
  font-size: 50px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: .5em;
  grid-area: title;
}

.div--contest-title p {
  text-align: center;
}

.ul--entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  margin-bottom: 70px;
  transition: width 2s;
}
