a {
  text-decoration: none;
  color: inherit;
}

.main--contestShowPage {
  font-family: 'Caveat', cursive;
  background-color: white;
  background: linear-gradient(to bottom right, #ffffe8, #b5c9f2);
}

.div--contest-title {
  width: 80%;
  font-size: 50px;
  /* margin: 0 auto; */
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: .5em;
  display: flex;
  justify-content: center;
}

.ul--entries {
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
margin-bottom: 70px;
width: 80%;
}
