.user-profile {
  display: grid;
  grid-template-columns: 3em 1fr 1fr 1fr 1fr 3em;
  grid-template-rows: 1fr 1fr;
  margin: 5vw 10vw 3vw 10vw;
  padding: 3vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.username {
  font-family: cursive;
  font-size: 3em;
  grid-column: 2 / 3;
}

.bio {
  grid-row: 2;
  grid-column: 2 / 4;

}

.profile-pic {
  grid-row: 1;
  grid-column: 5 / 6;
  border: 1px solid black;
  border-radius: 100px;
}

.scoresheets {
  margin: 3vw 10vw 10vw 10vw;
  padding: 3vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  display: grid;
  grid-template-columns: 3em 1fr 1fr 1fr 3em;
}

.scoresheets > h1 {
  grid-column: 2/3;
}
